<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="packages" />
	</config>
	<packageSources>
		<!-- Don't use any sources set by the system-->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="dotnet6" value="https://aka.ms/dotnet6/nuget/index.json" />
	</packageSources>
</configuration>
